{% extends 'base.html' %}

{% block title %}Add New Cargo{% endblock %}
{% load static %}

{% block content %}
    <div class="container mt-5 relative">
        <!-- Wrapper for centering heading and form -->
        <div class="flex flex-col items-center">
            <!-- Add New Cargo Section -->
            <h1 class="text-2xl font-bold mb-6 text-white" style="text-align: center;">Add New Cargo</h1>
            <form method="POST" class="bg-black bg-opacity-40 p-6 rounded-lg backdrop-blur-lg shadow-lg" style="width: 600px;">
                {% csrf_token %}
                
                <!-- Form Container -->
                <div class="form-container mb-4">
                    {% for field in form %}
                        <div class="form-group mb-4 flex items-center justify-between">
                            <label for="{{ field.id_for_label }}" class="text-white mr-4" style="width: 150px;">{{ field.label }}</label>
                            {{ field }}
                        </div>
                    {% endfor %}
                </div>
                
                <!-- Submit and Cancel Buttons in a flex container -->
                <div class="flex justify-between">
                    <!-- Submit Button -->
                    <button type="submit" class="custom-button w-48">Add Cargo</button>

                    <!-- Cancel Button -->
                    <a href="{% url 'view_cargo' %}" class="custom-button w-48 text-center">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block styles %}
    {% load static %}
    <style>
        body {
            background-image: url("{% static 'images/blue-red-galaxy.jpg' %}");
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            color: white; /* Apply white color to all text */
        }
    </style>
{% endblock %}